body{

    height: 100vh;
}

header{
    grid-area: h;
    background-color: pink;
}
main{
    grid-area: m;
    background-color: green;
}
aside{
    grid-area: a;
    background-color: aquamarine;
}
footer{
    grid-area: f;
    background-color: blue;
}

#container{
    display: grid;
    height:100%;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:20% 60% 20% 40%;

    grid-template-areas:
    
    "h h h"
    "m a a"
    "f f ."
    "f f .";
}

@media screen and (max-width:800px){

#container{

    grid-template-rows:100% 100% 100% 100% ;

    grid-template-areas:  
    "h h h"
    "m m m"
    "a a a"
    "f f f";
}
}